.PlayerCard {
  &__actions {
    opacity: 0;
    margin-top: -2rem;
    transform: translateY(0);
    padding-right: rem;
    transition: 0.2s all;
  }

  &:hover {
    .PlayerCard__actions {
      opacity: 1;
      transform: translateY(-0.5rem);
    }
  }
}
