.Hand {
  display: block;
  clear: both;
  position: relative;
  border-bottom: 1px solid lightgray;

  &__header {
    padding: 1rem;
  }
  &__controls {
    align-items: center;
    margin-bottom: 1rem;
  }
  &__title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__name {
    padding: 0.5rem;
    font-size: 1rem;
    width: 6rem;
    border: 1px solid rgba(0, 0, 0, 0.87);
  }
  &__warning {
    display: inline-block;
    font-weight: 700;
    color: red;
  }

  &__cards {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
