.Hand {
  padding: 1.5rem 2rem 2rem;
  border-bottom: 1px solid lightgray;

  &__controls {
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  &__title {
    display: inline-block;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__warning {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1;
    color: red;
  }
}
